@if (article) {
  <div class="container relative m-auto flex flex-row gap-8 px-8 py-6">
    <div class="flex flex-1 flex-col gap-4 overflow-auto">
      <div class="markdown" [innerHTML]="safeContent"></div>
      <paimon-blog-detail-footer
        [preName]="article.pre?.name"
        [preUrl]="['/', 'blog', article.pre?.id]"
        [nextName]="article.next?.name"
        [nextUrl]="['/', 'blog', article.next?.id]"
      ></paimon-blog-detail-footer>
    </div>
    <div class="hidden w-60 lg:block" [class.invisible]="!showAnchor">
      <paimon-anchor
        [links]="article.toc"
        classNames="top-24 text-xs max-h-[50vh] overflow-x-hidden overflow-y-auto"
      ></paimon-anchor>
    </div>
  </div>
}
