<footer class="mt-auto" style="background-color: rgb(0, 1, 25);">
  <div class="container pt-4">
    <div class="row d-flex align-items-center m-1">
      <div class="col-sm-12 col-lg-3 text-center"><a href="https://incubator.apache.org/"><img
            src="assets/apache-incubator.svg" style="max-width: 100%" /></a></div>
      <div class="col-sm-12 col-lg-9 text-white">
        <p>
          Apache Paimon is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the
          Apache Incubator.
          Incubation is required of all newly accepted projects until a further review indicates that the
          infrastructure, communications,
          and decision making process have stabilized in a manner consistent with other successful ASF projects.
          While incubation status is not necessarily a reflection of the completeness or stability of the code,
          it does indicate that the project has yet to be fully endorsed by the ASF.
        </p>
      </div>
    </div>
    <hr class="bg-white" />
    <div class="row mx-1">
      <div class="col-12 text-center text-white">
        <p>
          Copyright &copy; 2023 The Apache Software Foundation. Apache Paimon, Paimon, and its feather logo are
          trademarks of The Apache Software Foundation.
        </p>
      </div>
    </div>
  </div>
</footer>
