<paimon-page-container>
  <div header>
    <div class="mt-16 text-6xl font-normal text-paimon-gray-3">Apache Paimon™ Security</div>
  </div>
  <div content class="flex h-full justify-center px-12 py-16 lg:px-3">
    <div class="container flex flex-col text-center">
      <p class="text-base font-normal leading-6 text-paimon-gray-14">
        If you have apprehensions regarding Paimon's security or you discover vulnerability or
        potential threat, don't hesitate to get in touch with the Apache Security Team by dropping a
        mail at security&#64;apache.org. In the mail, specify the project name Paimon with the
        description of the issue or potential threat. You are also urged to recommend the way to
        reproduce and replicate the issue. The security team and the Paimon community will get back
        to you after assessing and analysing the findings.
      </p>
      <p class="text-base font-normal leading-6 text-paimon-gray-14">
        PLEASE PAY ATTENTION to report the security issue on the security email before disclosing it
        on public domain.
      </p>
    </div>
  </div>
</paimon-page-container>
