<header #header class="fixed z-10 h-auto w-full bg-transparent">
  <div class="flex h-16 w-full items-center justify-between px-8">
    <!-- Logo -->
    <div class="flex-shrink-0">
      <a href="/" class="relative flex h-full items-center leading-none text-paimon-text-base">
        <img
          priority="true"
          ngSrc="assets/icons/logo.svg"
          alt="Apache Paimon"
          width="186"
          height="39"
        />
      </a>
    </div>
    <!-- Navigation Menu -->
    <div class="hidden flex-grow items-center justify-center lg:flex">
      <div class="flex items-center space-x-2.5">
        <paimon-dropdown-links
          [options]="[
            {
              label: 'master',
              value: 'https://paimon.apache.org/docs/master'
            },
            {
              label: '0.9',
              value: 'https://paimon.apache.org/docs/0.9'
            },
            {
              label: '0.8',
              value: 'https://paimon.apache.org/docs/0.8'
            }
          ]"
        >
          <a
            class="group/link inline-flex w-full justify-center px-3 py-2 text-sm font-semibold text-gray-300 shadow-sm hover:text-white"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <span translate>DOCUMENT</span>
            <svg
              class="h-5 w-5 text-gray-300 group-hover/link:text-white"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </paimon-dropdown-links>
        <paimon-divider></paimon-divider>
        <a
          href="https://paimon.apache.org/downloads.html"
          target="_blank"
          class="px-3 py-2 text-sm font-medium text-gray-300 hover:text-white"
          translate
        >
          DOWNLOADS
        </a>
        <paimon-divider></paimon-divider>
        <a
          href="https://paimon.apache.org/release-0.9.html"
          target="_blank"
          class="px-3 py-2 text-sm font-medium text-gray-300 hover:text-white"
          translate
        >
          RELEASES
        </a>
        <paimon-divider></paimon-divider>
        <paimon-dropdown-links
          [options]="[
            {
              label: 'How to Contribute' | translate,
              value: 'https://paimon.apache.org/docs/master/project/contributing/'
            },
            {
              label: 'Team' | translate,
              value: 'https://paimon.apache.org/team'
            }
          ]"
        >
          <a
            class="group/link inline-flex w-full justify-center px-3 py-2 text-sm font-semibold text-gray-300 shadow-sm hover:text-white"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <span translate>COMMUNITY</span>
            <svg
              class="h-5 w-5 text-gray-300 group-hover/link:text-white"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </paimon-dropdown-links>
      </div>
    </div>

    <!-- Right Side / More Actions -->
    <div class="hidden items-center lg:flex lg:gap-4">
      <paimon-switcher
        [options]="[
          {
            label: 'EN',
            value: 'en'
          },
          {
            label: '中文',
            value: 'zh'
          }
        ]"
        [(ngModel)]="language"
        (ngModelChange)="languageChange($event)"
      ></paimon-switcher>
      <a
        href="https://github.com/apache/paimon/"
        target="_blank"
        class="w-[120px] rounded-[32px] bg-paimon-gray-13 px-4 py-2 text-center text-xs text-paimon-text-base hover:bg-paimon-gray-12 hover:text-white"
      >
        GITHUB
      </a>
    </div>

    <!-- Mobile Menu Button -->
    <div class="absolute right-5 lg:hidden">
      <button
        (click)="toggleMenu()"
        type="button"
        class="ignored inline-flex items-center justify-center rounded-md p-2 text-paimon-text-base hover:text-paimon-text-hover focus:text-paimon-text-hover focus:outline-none"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="sr-only pointer-events-none" translate>Open Menu</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="pointer-events-none size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>

    <!-- Dropdown Menu -->
    <div
      id="dropdown-menu"
      class="dropdown-menu fixed inset-x-0 top-16 hidden overflow-y-auto overflow-x-hidden bg-paimon-gray-13 py-1 backdrop-blur-md"
      paimonClickOutside
      [skipSelectors]="['ignored']"
      (clickOutsideChange)="hideMenu()"
    >
      <nav class="grid grid-cols-1 items-center gap-3">
        <div class="flex justify-between">
          <div class="flex flex-1 flex-col gap-4">
            <ul class="list-none items-center gap-3 text-sm font-semibold">
              <li class="hover:bg-paimon-gray-12">
                <a
                  href="https://paimon.apache.org/docs/master"
                  target="_blank"
                  class="flex h-10 w-full items-center justify-start px-8 no-underline hover:text-paimon-text-hover"
                  translate
                >
                  DOCUMENT
                </a>
              </li>
              <li class="hover:bg-paimon-gray-12">
                <a
                  href="https://paimon.apache.org/downloads.html"
                  target="_blank"
                  class="flex h-10 w-full items-center justify-start px-8 no-underline hover:text-paimon-text-hover"
                  translate
                >
                  DOWNLOADS
                </a>
              </li>
              <li class="hover:bg-paimon-gray-12">
                <a
                  href="https://paimon.apache.org/release-0.9.html"
                  target="_blank"
                  class="flex h-10 w-full items-center justify-start px-8 no-underline hover:text-paimon-text-hover"
                  translate
                >
                  RELEASES
                </a>
              </li>
              <li class="hover:bg-paimon-gray-12">
                <a
                  href="https://paimon.apache.org/docs/master/project/contributing/"
                  target="_blank"
                  class="flex h-10 w-full items-center justify-start px-8 no-underline hover:text-paimon-text-hover"
                  translate
                >
                  HOW TO CONTRIBUTE
                </a>
              </li>
              <li class="hover:bg-paimon-gray-12">
                <a
                  href="https://paimon.apache.org/team.html"
                  target="_blank"
                  class="flex h-10 w-full items-center justify-start px-8 no-underline hover:text-paimon-text-hover"
                  translate
                >
                  TEAM
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
