<div class="group relative inline-block text-left">
  <div>
    <ng-content></ng-content>
    <div
      class="invisible absolute right-0 z-10 w-56 origin-top-right rounded-md bg-paimon-gray-12 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none group-hover:visible"
      role="menu"
      aria-orientation="vertical"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        @for (item of options; track $index) {
          <a
            [href]="item.value"
            [target]="item.target || '_blank'"
            class="block px-4 py-2 text-sm text-white hover:bg-paimon-gray-14"
            role="menuitem"
            tabindex="-1"
          >
            {{ item.label }}
          </a>
        }
      </div>
    </div>
  </div>
</div>
