<ul
  class="fixed flex flex-col gap-3 border-l-2 border-solid border-paimon-gray-4"
  [ngClass]="classNames"
>
  @for (item of links; track $index) {
    <li
      [style.padding-left.px]="item.depth * 12 + 8"
      [class.text-paimon-blue-primary]="highLightId === item.id"
      class="cursor-pointer font-normal hover:text-paimon-blue-primary"
    >
      <a [class.high-light]="highLightId === item.id" (click)="scrollTo(item.id, item.text)">
        {{ item.text }}
      </a>
    </li>
  }
</ul>
