.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  justify-content: center;
}

.featureSvg {
  height: 40px;
  width: 40px;
  color: #0d6efd
}


.centered_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}


.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}