<div class="flex flex-col items-center justify-center gap-y-6">
  <span class="h-4 text-xs font-normal text-paimon-gray-8" translate>WHY PAIMON</span>
  <div class="h-14 text-4xl font-medium text-paimon-gray-2" translate>Key Features</div>
  <div class="relative mb-32 mt-14 px-8">
    <div
      class="relative grid grid-cols-1 gap-0 bg-paimon-gray-13 bg-[url('assets/images/key-features-bg.svg')] bg-auto bg-center bg-no-repeat md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-1.svg"
              alt="Real-time Updates"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>Real-time Updates</div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Primary-key table supports real-time streaming updates of large amounts of data.
            Real-time query within 1 minute.
          </div>
        </div>
      </div>
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-2.svg"
              alt="Flexible Updates"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>Flexible Updates</div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Defining Merge Engines, update records however you like. Deduplicate to keep last row,
            or partial-update, or aggregate records, or first-row, you decide.
          </div>
        </div>
      </div>
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-3.svg"
              alt="Change-tracking Updates"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>
            Change-tracking Updates
          </div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Defining changelog-producer, produce correct and complete changelog in updates for merge
            engines, simplifying your streaming analytics.
          </div>
        </div>
      </div>
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-4.svg"
              alt="Append Data Processing"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>Append Data Processing</div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Append table (no primary-key) provides large scale batch and streaming processing
            capability. Supports compaction with z-order sorting.
          </div>
        </div>
      </div>
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-5.svg"
              alt="Query Data Skipping"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>Query Data Skipping</div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Based on indexes such as minmax, filter irrelevant files and provide high-performance
            queries, more indexes are being supported.
          </div>
        </div>
      </div>
      <div class="border-8 border-solid border-paimon-gray-14">
        <div
          class="flex w-full flex-col items-center gap-4 rounded-2xl p-6 md:h-60 md:items-start xl:w-[328px]"
        >
          <span class="w-12 rounded-xl bg-paimon-gray-14 p-3.5">
            <img
              ngSrc="assets/icons/kf-6.svg"
              alt="Data Lake Capabilities"
              class="h-[20px] w-[20px]"
              height="20"
              width="20"
            />
          </span>
          <div class="text-lg font-medium text-paimon-gray-2" translate>Data Lake Capabilities</div>
          <div class="text-sm font-normal leading-5 text-paimon-gray-8" translate>
            Low cost, High reliability, Scalable metadata, Time Travel and Full Schema Evolution.
            All advantage as a data lake storage.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
